#root {
	max-width: 1440px;
	margin: auto;
	padding: 1em;
	text-align: center;
	background-color: #272727;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: dark;
	color: rgba(27, 27, 27, 0.87);
	background-color: #272727;
}

#title {
	text-align: start;
	font-weight: 700;
	color: #72d5ff;
}

#card {
	padding: 2em;
}

.card-body {
	background-color: #72d5ff;
}

#card-title {
	font-weight: 600;
}

#card-list-group {
	font-weight: 500;
	line-height: 1;
	padding: 0.5rem 0rem 0.5rem 0rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

#card-container {
	background-color: #72d5ff;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	background-color: #262626;
}

#view-button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	color: #ffffff;
	background-color: #262626;
	cursor: pointer;
	transition: border-color 0.25s;
}
#view-button:hover {
	border-color: #000000;
}

.article-view-container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

p {
	margin-bottom: 10px;
	color: #ffffff;
}

h1 {
	font-size: 2em;
	margin-bottom: 10px;
}
