/* Global Styles */

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: dark;
	color: rgba(27, 27, 27, 0.87);
	background-color: #272727;
}

body {
	margin: 0;
	place-items: center;
	background-color: #262626;
}

/* Container Styles */

#root {
	margin: auto;
	padding: 1em;
	text-align: center;
	background-color: #272727;
}

.article-view-container {
	width: 80%;
	margin: 0 auto;
}

/* Media Queries*/

@media screen and (max-width: 600px) {
	.article-view-container {
		width: 90%;
	}
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
	.article-view-container {
		width: 80%;
	}
}

@media screen and (min-width: 1201px) {
	.article-view-container {
		width: 60%;
	}
}

/* Typography Styles */

h1 {
	font-size: 2em;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
}

p {
	color: #ffffff;
}

#title {
	text-align: start;
	font-weight: 700;
	color: #72d5ff;
}

#card-title {
	font-weight: 600;
}

#card-title-topic {
	font-size: 40px;
	font-weight: 600;
}

#card-title-topic.card-title.h5 {
min-height: 0;
}

#card-list-group-topic {
	padding-top: 0;
}

.card-text {
	color: #000000;
}

#error-title {
	color: #ffffff;
	padding-top: 5rem;
}

/* Link Styles */

a {
	font-weight: 500;
	text-decoration: inherit;
	color: #646cff;
}

a:hover {
	color: #535bf2;
}

/* Button Styles */

#basic-button {
	background-color: #272727;
	border-color: #ffffff;
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.2em;
	margin-bottom: 0.5rem;
	color: #ffffff;
	cursor: pointer;
	transition: border-color 0.25s;
}

#basic-button:hover {
	border-color: #ffffff;
}

#view-button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	color: #ffffff;
	background-color: #262626;
	cursor: pointer;
	transition: border-color 0.25s;
}

#view-button:hover {
	background-color: #0d4157;
	border-color: #ffffff;
}

#article-vote-button {
	display: flex;
	justify-content: center;
	background-color: #272727;
	border-color: #ffffff;
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.5em;
	color: #ffffff;
	cursor: pointer;
	transition: border-color 0.25s;
}

#article-vote-button:hover {
	border-color: #ffffff;
}

/* Header Styles */

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	z-index: 1;
	top: 0;
	background-color: #272727;
}

.menu-currentuser {
	display: flex;
	justify-content: end;
	align-content: center;
	position: sticky;
}

#current-user {
	text-align: end;
	margin-top: 0.8rem;
	font-size: medium;
	color: #72d5ff;
}

/* Article Styles */

#article-title,
#articles-title,
#article-author,
#article-topic,
#article-date,
#article-body,
#article-votes-num,
#comments-title,
#comments-author,
#comments-body,
#comment-votes,
#topics-title {
	font-size: 16px;
	color: #ffffff;
}

#article-title,
#articles-title,
#topics-title {
	padding-top: 1.6rem;
	font-size: 23px;
}

.article-details-box {
	padding-top: 2rem;
}

#article-title,
#article-author,
#article-topic,
#article-date,
#article-body,
#topics-title {
	padding-bottom: 1rem;
}

.article-view-container img {
	max-width: 100%;
	height: auto;
}

#user-img {
	max-width: 100%;
	height: auto;
	object-fit:scale-down;
}

#article-votes-num {
	margin-bottom: 0;
	margin-left: 0.5rem;
}

.card-body {
	background-color: #72d5ff;
}

.card-title.card-title.h5 {
	min-height: 75px;
}

#card-footer {
	width: 100%;
	border-color: #000000;
	margin-top: 1rem;
	background-color: #72d5ff;
	font-weight: 500;
}

#card-list-group {
	font-weight: 400;
	line-height: 1;
	padding: 0.5rem 0rem 0.5rem 0rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.card-group {
	border-color: #72d5ff;
	min-width: 260px;
	max-width: 385px;
	margin: auto;
}

#card-container {
	background-color: #72d5ff;
}

.card-header {
	min-height: 230px;
}

.card-img-top {
	max-height: 300px;
	max-width: 350px;
	min-height: 210px;
	object-fit: cover;
	margin: auto;
}

.overall-card-container {
	margin: 1em;
}

.overall-card-container-topics {
	margin: 1em;
	padding-bottom: 1px;
}

.article-container {
	background-color: #0d4157;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* Comments Styles */

.comments {
	text-align: left;
}

#comments-title {
	color: #ffffff;
	padding-top: 3rem;
	padding-bottom: 2rem;
}

#comments-author {
	font-weight: 600;
	line-height: 1;
	color: #72d5ff;
}

#comments-date {
	color: #d1d1d1;
}

#comment-votes {
	align-items: center;
	padding-left: 0.6rem;
}

.comments-votes-box,
.article-votes {
	display: flex;
	justify-content: center;
}

.comments-votes-box {
	display: flex;
	justify-content: start;
}

.comment-adder {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.comment-adder form {
	width: 100%;
	max-width: 400px;
}

.comment-adder textarea {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 1rem;
}

.comment-adder button {
	background-color: #72d5ff;
	width: 60%;
	margin-bottom: 2rem;
	border-radius: 4rem;
	border: 1px solid transparent;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	color: #000000;
	cursor: pointer;
	transition: border-color 0.25s;
}

.comment-adder button:hover {
	background-color: #0d4157;
	border-color: #ffffff;
}

/* User styles */

.user-cards {
	border-color: #ffffff;
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.2em;
	margin-bottom: 0.5rem;
	color: #ffffff;
	cursor: pointer;
	transition: border-color 0.25s;
}
.user-cards:hover {
	border-color: #72d5ff;
}
